
<b><h3>about</h3></b></br>

<h1>"You're Worth Every Penny"</h1>

<h2>Clothes <small>our canvas</small></h2>
  <h2>Spray Paint <small>street cred</small></h2>
  <h2>Internet <small>we have the online wall (the homepage, yours for the taking!)</small></h2>
  <h2>Activism <small>We are letting people know that we are representational of both the strong and the weak, the rich and the poor, the young and the old. We are like everlasting life in fashion. <small></h2>
	
</br>

<address><h4>
  <strong>Concern, question or feedback? Let us know: </strong><br>
  <a href="mailto:#">juelesmayflower@gmail.com</a></h4>
</address>
</br>


<div class="action pull-right">
<!-- Button trigger modal -->
<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
  +
</button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">It's actually for underpriveledged kids</h3>
      </div>
      <div class="modal-body">
      	<h4>
        This concept was birthed out of wanting to help underpriveledged kids in my local community, my neighborhoods, my city, my state, country, and my world.  I want a brand that everyone is proud to wear.  No worrying or thinking about being told that your clothes are "fake", something that brands such as Salvador Ferragamo, Yves Saint Laurent, Pigalle, Lanvin, Dsquared, Comme Des Garcon express to the global community. We can talk about who runs the world, but then we would have a French Revolution, an Arab Spring, a Kiev Riot, Korean Democracy, a Haitian Nation, etc. Bottom line, if you need to make money by selling Jueles Mayflower branded clothes, then go head, just don't get too rich with out me.  And let's make it look good.
    	</br>
    	</br>
        <div class="action pull-left">
      		<i><h6>-Jueles</h6></i>
      	</div>
    	</h4>	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div></br>