

	<div class="action center">

		 <img src="http://i762.photobucket.com/albums/xx270/akimn89/kidult1_zps4983e8d3.jpg"  style="max-width:100%" alt="The Mayflower" height="1160" width="1000"/>

		<h1>Kidult, so disrespectful, but it looks so good</h1>
		<h4>February 22, 2014, 5:17 AM, PT</h4>
		<h4>by Jueles Mayflower and Team</h4>

		<i><p>"The cities are the theater of a battle for space, a battle in which I try to expose my vision of the world, and destroy theirs. My extinguishers, paint and spray cans are my weapons of mass destruction. They may have all the money in the world; they will never win in the streets because we are the streets!

		The army is growing and the struggle is global. 
 		I am not the one who declared the war, I just responded to defend my vision of what graffiti and society should be, free."</p></i>

 		<p>Kidult to me is an inspiration.  I conjure fearlessness, strength, and passion from Kidult's works.  Although tinkering on madness, I find it hard to disagree with what he/she stands for unless we wander into the topic of public destruction or vandalism.  But! Let's say for a second that public destruction and vandalism is not thought about for a second, and then we may have something.


		<img src="http://recklessanimals.files.wordpress.com/2013/06/kidult-hits-maison-martin-margiela-in-brussels-1.jpg"  style="max-width:100%" alt="The Mayflower" height="1160" width="1000"/>

		<p>
		Kidult may be extremely disrespectful to establishments, but I think similarly.  Although I do not intend to vandalize or destroy public and or private property, I do believe that we need less fear in our lives, more strength, and passion.  If we do not, how can we say that we are living?  That is up to the spectator or viewer to determine for themselve, but here at Jueles Mayflower, we are already channeling that passion onto clothes.  Come ye to the alter and repent.</p>

		<img src="http://www.perrerarte.cl/wp/wp-content/uploads/2012/11/Kidult-6.gif"  style="max-width:100%" alt="The Mayflower" height="1160" width="1000"/>

	
		
	</div>
