
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
       <img src="http://i762.photobucket.com/albums/xx270/akimn89/JMT13_zpse866e8de.jpg"  style="max-width:100%" alt="The Mayflower" height="500" width="auto"/>
      <div class="carousel-caption">
       <p>Test One</p>
      </div>
    </div>
    <div class="item active">
       <img src="http://i762.photobucket.com/albums/xx270/akimn89/2012-Tushek-Renovatio-T500-Front-And-Side-Open-Doors-1280x960_zps18afe270.jpg"  style="max-width:100%" alt="The Mayflower" height="500" width="auto"/>
      <div class="carousel-caption">
       <p>Test Two</p>
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>





	<div class="action center">

		 <img src="http://i762.photobucket.com/albums/xx270/akimn89/JMT13_zpse866e8de.jpg"  style="max-width:100%" alt="The Mayflower" height="1160" width="1000"/>

		<h1>ROA (artist)</h1>

		<p>ROA (born c. 1976)[1] is the pseudonym of a graffiti artist from Ghent, Belgium. He has created works on the streets of cities across Europe, the United States and New Zealand.[2]</p>

		<img src="http://i762.photobucket.com/albums/xx270/akimn89/JMT13_zpse866e8de.jpg"  style="max-width:100%" alt="The Mayflower" height="1160" width="1000"/>

		<p>
		ROA generally paints wild/urban animals and birds that are native to the area being painted. ROA usually uses a minimal color pallet like black, white and red, but also creates works using vibrant colors depicting flesh and/or internal systems within the animals and birds.[2]</p>

		<img src="http://i762.photobucket.com/albums/xx270/akimn89/JMT13_zpse866e8de.jpg"  style="max-width:100%" alt="The Mayflower" height="1160" width="1000"/>

		<p>
		In 2010 ROA came to particular notice in the UK when Hackney council threatened to paint over one of his paintings, a 3.5m high rabbit. The rabbit had been legally painted on the wall of a recording studio in Hackney Road, London.[1] A campaign was launched to keep the mural, by the building's owners and local residents, forcing the council to change its mind.[3]</p>

		<img src="http://i762.photobucket.com/albums/xx270/akimn89/JMT13_zpse866e8de.jpg"  style="max-width:100%" alt="The Mayflower" height="1160" width="1000"/>

		<p>
		While exhibiting works at Perth's Form Gallery ROA was commissioned by the City of Fremantle to leave his mark on Fremantle, in about 12 hours ROA created a 25 meter mural of a Numbat which he chose because it is a local endangered species.[4]
		</p>

		<img src="http://i762.photobucket.com/albums/xx270/akimn89/JMT13_zpse866e8de.jpg"  style="max-width:100%" alt="The Mayflower" height="1160" width="1000"/>

		<p>
		In August 2012 ROA took part in the See No Evil street art festival in Bristol, England, creating a two-storey high fox on the side of a building.[5]

		In January 2014 ROA visited Dunedin in New Zealand and painted a gecko mural on a building on Bath Street.[6]</p>
	</div>
