</br>
<div class="panel panel-default">
	<div class="action center">
		</br>

		<div class="action center">
		<h1>Kidult, so disrespectful, but it looks so good</h1>
		<h4>March 18, 2014</h4>
		<h4>by Jueles Mayflower and Team</h4></div>

		 <img src="http://recklessanimals.files.wordpress.com/2013/06/kidult-hits-maison-martin-margiela-in-brussels-1.jpg"  style="max-width:100%" alt="The Mayflower" height="1160" width="1000"/>

		<div class="action center">

		<i><p>"The cities are the theater of a battle for space, a battle in which I try to expose my vision of the world, and destroy theirs. My extinguishers, paint and spray cans are my weapons of mass destruction. They may have all the money in the world; they will never win in the streets because we are the streets!

		The army is growing and the struggle is global. 
 		I am not the one who declared the war, I just responded to defend my vision of what graffiti and society should be, free." 			-Kidult</p></i>

 		</div>

 		 <img src="http://i762.photobucket.com/albums/xx270/akimn89/kidult1_zps4983e8d3.jpg"  style="max-width:100%" alt="The Mayflower" height="1160" width="1000"/>

 		</br>
 		<div class="action">

	 		<p>Kidult to me is an inspiration.  Fearlessness, strength, and passion come to mind from Kidult's works.  Although one could claim madness, I find it hard to disagree with everything that Kidult stands for. 
	 		</br>
	 		Kidult is freeing someone's mind.  Personally, I am not going to endorse painting on store fronts, but I do believe that we need less fear in our lives, more strength, and passion.  Life without salt, pepper, spice, is bland. But everything I have written is up to individuals to determine for themselves.
			</br>
			Here at Jueles Mayflower, we are inspired by passion.  Thanks Kidult, stay safe, we enjoy your work! </p>
		</div>

		<img src="http://www.perrerarte.cl/wp/wp-content/uploads/2012/11/Kidult-6.gif"  style="max-width:100%" alt="The Mayflower" height="1160" width="1000"/>

	
		
	</div>
</div>

		</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>



