</br>
<div class="panel panel-default">
	<div class="action center">
		</br>

		<div class="action center">
		<h1>Clarion Alley & Friends Part II</h1>
		<h4>April 2, 2014</h4></br>

		<img src="http://brokeassstuart.com/wp-content/pictsnShit/2011/04/clarion-alley-mural-project.jpg"  style="max-width:100%" alt="ox" height="1160" width="1000"/></br></br>
		<div class="action pull-left">

		<p>
		In mobstr friends part 1, the discussion left off at friends, what makes a friend, a good friend, a great friend, and maybe even a best friend.

		I have a few of my own questions on what a friend is.  I want to look into this particular situtation that I was in... </br></br>
		I sat with a "friend" once to grab a beer at a nice billiard on the Eastside and we sat down to talk. We were there to get know each other better, kill time, hang out.  So, this "friend" of mine is interesting but sometimes they are just a drag.   Or just something is a little off with the guy.  He is not necessarily bad, no criminal activity, doesn't cheat, but I was seeing patterns in his behavior.  I realized that he was always using people around him to get things done or to do something, and it was frequent. </br></br>
		The guy would always talk about his family business too, EVERY time we sat down to eat or grab a beer together; not just this night.  So I stopped him before he went on his usual speaking rant and I asked him, "If you were me, would you want to hear what you say?" that was my question.  At the same time, I was wondering why I was hanging out with this guy.  He stopped and just looked at me.  Then I asked another question, "What is a friend to you?"  This was the response from him, "To me, a friend is someone who I can work with.  Someone that can help me and maybe I can help them.  Kind of like in business you know?"</br></br>
		Honestly, that is not that bad of an answer.  It is logical, worldly, generic, but right now, does anyone feel slightly grimy?  Grimy on the inside that is. Like a dirty pan.  </br></br>
		Do you have a friend like that?  Or imagine what a friend like that would be like.  </br></br>

		Honestly speaking, last year, that is what I thought a friend was, someone that could benefit me.  A friend to me was similar to a business acquaintance.  I was not really sure what a friend was.  So I started reading.  I found this book, I am not going to say which one (email us and we'll send you the book title: hplasterwall@gmail.com) It gave me an idea of what a friend was contrary to popular belief. (That's with the assumption saying that the business-like friend is a friend). </br></br>
		Is the business-like-styled friend a friend?</br></br>

		Stay tuned…

	
		</p>

 		</div>

		 

		 <img src="http://missionlocal.org/wp-content/uploads/2012/07/tourism-620x418.jpg"  style="max-width:100%" alt="OX" height="1160" width="1000"/></br></br>


 	
 		<img src="http://moneydick.com/wp-content/uploads/2009/part_two%5Bclarion_alley_mural_project%5D_on_Flickr_-_Photo_Sharing!-20091021-152218.jpg"  style="max-width:100%" alt="Ox" height="1160" width="1000"/>

 		</br></br>

		<img src="http://visionaryartistrymag.com/wp-content/uploads/2011/01/Clarion-Alley-Mural-Project-in-San-Fransico-photo-courtesy-Derek-Chamberlain.jpg"  style="max-width:100%" alt="ox" height="1160" width="1000"/></br></br>

		<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/%22Tax_The_Rich%22_mural_by_Megan_Wilson_on_Clarion_Alley_San_Francisco.jpg/600px-%22Tax_The_Rich%22_mural_by_Megan_Wilson_on_Clarion_Alley_San_Francisco.jpg"  style="max-width:100%" alt="ox" height="1160" width="1000"/></br></br>


		</br></br>
		

		

		<h3>Nicki Minaj - Right By My Side (Explicit) ft. Chris Brown </h3></br>

		<iframe width="700" height="400" src="http://www.youtube.com/embed/he3DJLXbebI" style="max-width:100%"      frameborder="0"></iframe>
		
	</div>
</div>

		</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
