
	<h4><span class="label label-info">3 New Today</span></h4>
	<div class="action center">
	<div class="panel panel-default">

			</br>
			 <img src="http://i762.photobucket.com/albums/xx270/akimn89/kidult1_zps4983e8d3.jpg"  style="max-width:100%" alt="kidult" height="290" width="250"/></br>
			 <!--<p>What we're looking at now</p>-->
			 
			 <h2><%= link_to 'Kidult, Going Big', article1_path %></h2>
			 <h4>February 22, 2014, 5:17 AM, PT</h4>

			 <br>
			 <br>
			 <br>
	</div>
	<div class="panel panel-default">
		</br>
		  <img src="http://api.ning.com/files/tVmzSqOjQqN1PYVQ05ciLZfq6*mty5-0*HCTljgf7fAQZPh9CKzsd9tT9bh2q37LnNsE5o8pnGVjp*PsN7XYlrmG4n0ex1ZC/dranstreetart7.jpeg" alt="Dran Van Gogh Selfie" height="290" width="250"/></br>
		 <!--<p>What we're looking at now</p>-->
		 
		 <h2><%= link_to 'Who is Dran?', dranpage_path %></h2>
		 <h4>March 7, 2014, 2:08 PM, PT</h4>

		 <br>
		 <br>
		 <br>
	</div>
	</div>

