
	</br>
	<div class="action center">


		 <img src="http://i762.photobucket.com/albums/xx270/akimn89/JMT13_zpse866e8de.jpg"  style="max-width:100%" alt="The Mayflower" height="290" width="250"/></br>
		 <!--<p>What we're looking at now</p>-->
		 
		 <h2><%= link_to 'What we are looking at now', article1_path %></h2>
		 <h4>February 22, 2014, 5:17 AM, PT</h4>

		 <br>
		 <br>
		 <br>

		  <img src="http://i762.photobucket.com/albums/xx270/akimn89/JMT13_zpse866e8de.jpg"  style="max-width:100%" alt="The Mayflower" height="290" width="250"/></br>
		 <!--<p>What we're looking at now</p>-->
		 
		 <h2><%= link_to 'What we are looking at now', article1_path %></h2>
		 <h4>February 22, 2014, 5:17 AM, PT</h4>

		 <br>
		 <br>
		 <br>
	</div>

