</br>
<div class="panel panel-default">
	<!--<div class="action center">-->
		</br>

		<div class="action center">
		<h1>DALeast, Mr. James, & Richard</h1>
		<h4>March 31, 2014</h4></br>

		 <img src="http://www.brooklynstreetart.com/theblog/wp-content/uploads/2013/11/brooklyn-street-art-dal-east-spencer-elzey-london-10-13-web.jpg"  style="max-width:100%" alt="ox" height="1160" width="1000"/></br></br>

		 <img src="http://www.dailyartfixx.com/wp-content/uploads/2011/08/redeer-bratislava-slovakia-2011-DAL.jpg"  style="max-width:100%" alt="OX" height="1160" width="1000"/></br></br>

		 </div>

		<div class="action pull-left">

		<p>
		Based on some of the art that we've seen online, on this site, and other places; DALeast works are pretty good.  Loving something that looks good is so easy.  </br></br>

		Alright, let's get this out of the way, let's talk Lebron James for a second.  The dude is a well proportioned man while being 2 to 3 times larger and maybe 2 to 3 times faster (Bear with me) than the average man.  That would make him 6 times or 9 times faster than the average man because we were counting in Lebron measurements not the average man.  I don't know, but that paints a general picture I think.   The guy was the last superstar drafted out of high school, he was anointed as the chosen one by Nike, and he has topped it off with two NBA Championship rings.  His age is not all that bad either, especially if we take into perspective Kobe Bryant's age and the career Kobe has had so far.  For the ladies who don't care, just take it as an info session, and for the guys, you can do the same.  :)  </br></br>
		Anyways, I personally dislike Lebron James.  His game is pretty good, decent entertainment, he get's the job done, he does not look that bad besides some early balding.  But then again, I wonder how many people in America hate Richard Sherman, a non-mediocre cornerback for the Seattle Seahawks.  I like Richard Sherman.   But that's probably because I know his background and how hard he worked to get where he is.  I am sure that Lebron works more at his game than I think, but maybe he's too tired to show any of that.  Or maybe he just does not know how to appeal to all fans.  But can anyone capture an entire audience?  </br></br>
		Honestly, I like Richard Sherman 100 times more than Lebron James. Go Seattle. </br></br></br></br>



		</p>

 		</div>

 		<div class="action center">

 		<img src="http://payload28.cargocollective.com/1/0/633/2866091/DALeast-The%20Williams%20Brothers%201-%20Cape%20Town-South%20Africa-%202012.2%20hq_1000.jpg"  style="max-width:100%" alt="Ox" height="1160" width="1000"/>

 		</br></br>

		<img src="http://api.ning.com/files/b11Oq4bm9ffV3d*TnNEt2bNjQPU1OMywfWzZndZ3x73sCzfkPq-DiXc94dDNE1OQS*RALERBFGgsOIRT8ifQoV3-CDYmvkXz/DAL1.jpg"  style="max-width:100%" alt="ox" height="1160" width="1000"/></br></br>

		<img src="http://www.lifelounge.com.au/resources/imgdetail/020312041203_dal-detail.jpg"  style="max-width:100%" alt="ox" height="1160" width="1000"/></br></br>


		<img src="http://payload147.cargocollective.com/1/0/633/5255863/DALeast--Abscission--%20Honolulu-Hawaii-2013photo-Brandon%20Shigeta_1000.jpg"  style="max-width:100%" alt="ox" height="1160" width="1000"/>	</br></br>
		
		<img src="http://4.bp.blogspot.com/-_cFPbcDas1s/T0i5c9Bi2kI/AAAAAAAALDo/VthzWh4YSew/s1600/DALeast-'Deer+Park-D',cape+town,south+africa,2012.jpg"  style="max-width:100%" alt="ox" height="1160" width="1000"/>	</br></br>

		<img src="http://vrais.fatcap.org:8081/uploads/msc/2013-06-22/lv_82cb347cc7c3dd71f247e2c388f2564625467459.jpg"  style="max-width:100%" alt="ox" height="1160" width="1000"/>	</br></br>
		
		<img src="http://vrais.fatcap.org:8081/uploads/msc/2013-06-22/lv_d31c011b6b54a3ff9e3a95e4ef2438f8d1dbe700.jpg"  style="max-width:100%" alt="ox" height="1160" width="1000"/>	</br></br>

		<img src="http://s1.ibtimes.com/sites/www.ibtimes.com/files/styles/v2_article_large/public/2013/10/28/dal.png"  style="max-width:100%" alt="ox" height="1160" width="1000"/>	</br></br>

		
		<h3>The Chainsmokers - #Selfie</h3></br>
		
		<iframe width="700" height="400" src="http://www.youtube.com/embed/kdemFfbS5H0" style="max-width:100%"      frameborder="0"></iframe>
		
	</div>
</div>

		</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>



