</br>
<!--<div class="panel panel-default">-->
	<!--<div class="action center">-->
		</br>

	<div class="action center">
		<h1>Dface, Why? Why? Why?</h1>
		<h4>March 26, 2014</h4></br>
	</div>
		 

		<div class="action pull-left">

		<p>
		<i>Disclaimer: Google Dface if you want more pictures.  I’m not putting them up.</i></br></br>

Dface, what the f*#%.  Before judging me, quickly read over the following.  Dface is talking about why he/she/both does what they do and how the characters Dface paints came to be.  I took this straight from the Dface site.</br></br><i>
“This family of dysfunctional characters began evolve, they started to satirise and hold to ransom all that fell into their grasp – a welcome jolt of subversion in today’s media-saturated environment – the very same thing I’d grown up on.   Bank notes were drawn and printed over and put into circulation for the unsuspecting to receive in their change, billboards, taken over with public service announcements… I wanted to encourage people to not just to ‘see’, but to look at what surrounds them and their lives, reflecting our increasingly bizarre popular culture, re-thinking and reworking cultural figures and genres to comment on our ethos of conspicuous consumption.  A pandora’s box of bittersweet delights – sweet and sugary on the surface, but with an unfamiliar, uncomfortable, taste beneath.</br></br>
This isn’t the beginning, it’s not the end it’s happy never ending.</br></br>
D* </i></br></br>
First off, I was not even going to write about Dface because the images Dface made were weird.  But I try not to judge books by their covers so I tried to get to know Dface.  I checked out Dface’s little website and now I understand a little more.</br></br>
Let’s dissect this person and let’s go with Dface being a he.  I want to bash this person so let’s keep them as a guy.  No harm done to the ladies! Holla! Yes, Dface claims that his work is, “[…] a welcome jolt of subversion in today’s media-saturated environment”, okay, whatever.  I was jolted on first glimpse.  I have heard of situations when people wake up and look in the mirror and they scare themselves and wonder why the mirror didn’t break, that’s kind of what I had when I saw Dface’s stuff.  Except take out my face for Dface’s murals.  Is that harsh?  I hope I am not being hypocritical, but someone tell me if I am wrong.  Dface is trying to say something about the world we live in?</br></br>
Here is Dface again saying, “A pandora’s box of bittersweet delights – sweet and sugary on the surface, but with an unfamiliar, uncomfortable, taste beneath.” Is that what your art represents Dface? Or is that the environment telling you what to create?  Your stuff is a little scary and I don’t think that is not how bad our surroundings are.  Get off the hard drugs.  I know, go join a cult, that’ll probably fix you up.   Japan might have been scary for you, because the ketchup tasted like your mom’s spaghetti sauce, phuccing poosy. </br></br>
Bottom line, Dface wasn’t placed on earth to make it better.  He just takes the filth and disgusting apparently and reflects it in his paintings publicly.  Why!!?  Someone say there is no God.  There is no God!  What in the world Dface.  I’m just going to go out on a limb, actually, make that three limbs, to claim, “If you’re not making it (the world) a better place, don’t do it (drawing hideous things).”  I’m so nice.  Now taht I olny hvae my lfet arm, let me remnid you Dface’s lsat wrods from his writetn material.  “This isn’t the beginning, it’s not the end it’s happy never ending.”  What?  Suht the puhc up Dface.</br></br>  For the chlidren raednig, go do yuor hmoewrok.
</br></br>  


		</p>

		<h3>Ace Hood - Bugatti </h3>
		<h5>I'll sugar coat it for you dface :)</h5></br>

		<iframe width="700" height="400" src="http://www.youtube.com/embed/djE-BLrdDDc" style="max-width:100%"      frameborder="0"></iframe>


</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	
	</div>
<!--</div>-->

	



