</br>
<div class="panel panel-default">
	<!--<div class="action center">-->
		</br>

		<div class="action center">
		<h1>MOBSTR & The Friend Discussion</h1>
		<h4>March 31, 2014</h4></br>

		 <img src="http://cdn0.lostateminor.com/wp-content/uploads/2012/08/Mobstr-4.jpg
"  style="max-width:100%" alt="ox" height="1160" width="1000"/></br></br>

		 <img src="http://cdn.walltowatch.com/files/0/0/0/3/00034387.jpg
"  style="max-width:100%" alt="OX" height="1160" width="1000"/></br></br>
		</div>

		<div class="action pull-left">

		<p>
		Is Mobstr angry or just smart?  Mr. Ikea's just smart.  Good wit, quite courageous, and pretty sweet, the art at least  The words are simple powerful and refreshing.  Is it reinventing the wheel?  Or maybe it's just something else.. </br></br>

		Well, I hope everyone had a great Spring Break, is having a great Spring Break, for everyone else who will never have Spring Break again, you've had your time. </br></br>

		I have heard people say, "It's hard to make friends after college."  Can that be true, maybe, but is it a complete truth?  I feel like it is something people limit on themselves.  Okay, maybe it's "hard"er to make friends after college, but not impossible.  And while we're at it, what constitutes a friend, a good friend, a great friend?  Are there such things as a best friend?  Well, are there?  </br></br>

		Over the course of a few days we are going to go over some of these issues.  Bottom line, I hope we discover, yeup, you said it, some truth. </br></br>   </br></br>
		</p>

 		</div>

 		<div class="action center">
 		<img src="http://flavorwire.files.wordpress.com/2012/06/mobster13.jpg"  style="max-width:100%" alt="Ox" height="1160" width="1000"/>

 		</br></br>

		<img src="http://arrestedmotion.com/wp-content/uploads/2011/07/ff67f9d881784c29ad9bb2d8f71b2929_7.jpg"  style="max-width:100%" alt="ox" height="1160" width="1000"/></br></br>

		<img src="http://4.bp.blogspot.com/_xjL5HOM3xq8/TEHwKcZLLoI/AAAAAAAAAdc/VnZ_hh5-ShY/s1600/Mobstr_what.jpg"  style="max-width:100%" alt="ox" height="1160" width="1000"/></br></br>


		<img src="http://www.fubiz.net/wp-content/uploads/2012/06/place-buff-L1.jpg"  style="max-width:100%" alt="ox" height="1160" width="1000"/>	</br></br>

		<img src="http://www.sadanduseless.com/wp-content/uploads/2012/05/1936-660x440.jpg"  style="max-width:100%" alt="ox" height="1160" width="1000"/>	</br></br>
		
		<img src="http://www.idiotist.com/wp-content/uploads/2012/06/mobstr_12.jpg"  style="max-width:100%" alt="ox" height="1160" width="1000"/>	</br></br>

		<img src="http://www.mobstr.org/images/buy%20more/if%20you%20stare/if%20you%20stare%20wood.jpg"  style="max-width:100%" alt="ox" height="1160" width="1000"/>	</br></br>

		
		<img src="http://25.media.tumblr.com/tumblr_m5toaa0L5O1qa6dtuo5_1280.jpg"  style="max-width:100%" alt="ox" height="1160" width="1000"/>	</br></br>

		<img src="http://rebelart.net/wp-database/uploads/2012/10/LOOK-MUM.jpg"  style="max-width:100%" alt="ox" height="1160" width="1000"/>	</br></br>

		<img src="http://cdn.respect-mag.com/wp-content/uploads/2013/04/streetartnews_mobstr_katowice_poland-2.jpg"  style="max-width:100%" alt="ox" height="1160" width="1000"/>	</br></br>

		<img src="http://www.juxtapoz.com/images_old/stories/AustinMcManus/january.12/31/jux_reblog.jpg"  style="max-width:100%" alt="ox" height="1160" width="1000"/>	</br></br></br></br>

		<h3>Demi Lovato - Neon Lights</h3></br>

		<iframe width="700" height="400" src="http://www.youtube.com/embed/v9uDwppN5-w" style="max-width:100%"      frameborder="0"></iframe>
		
	</div>
</div>
<!--</div>-->

		</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>



