
</br>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h2>Street Artist Rankings<small> as of February 22, 2014</small></h2>
</div>
  

  <!-- Table -->
  <table class="table table-striped">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Artist</th>
            <th>Country of Origin</th>
            <th>Piece</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td>Kidult</td>
            <td>Unknown</td>
            <td>Many</td>
        </tr>

        <tr>
            <td>2</td>
            <td>Dran</td>
            <td>France</td>
            <td>Pizza Boxes</td>
        </tr>

        <tr>
            <td>3</td>
            <td>Banksy</td>
            <td>United Kingdom</td>
            <td>Flower Guy</td>
        </tr>
    </tbody>
</table>
</div>