
</br>

<!--<div class="panel panel-info">-->
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h2>Street Artist Rankings<small> as of March 7, 2014</small></h2>
</div>
  

  <!-- Table -->
  <table class="table table-striped">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Artist</th>
            <th>Country of Origin</th>
            <th>Piece</th>
        </tr>
    </thead>

    <tbody>
        <tr class="active">
            <td>1</td>
            <td>Kidult</td>
            <td>Unknown</td>
            <td>Many</td>
        </tr>

        <tr>
            <td>2</td>
            <td>Dran</td>
            <td>France</td>
            <td>Pizza Boxes</td>
        </tr>

        <tr class="sucess">
            <td>3</td>
            <td>Banksy</td>
            <td>United Kingdom</td>
            <td>Flower Guy</td>
        </tr>

        <tr>
            <td>4</td>
            <td>Rene Gagnon</td>
            <td>USA</td>
            <td>Flower Guy</td>
        </tr>

        <tr class="warning">
            <td>5</td>
            <td>David Choe</td>
            <td>USA</td>
            <td>Facebook HQ</td>
        </tr>

        <tr>
            <td>6</td>
            <td>Blu</td>
            <td>Blank</td>
            <td>Blank</td>
        </tr>

        <tr class="danger">
            <td>7</td>
            <td>Sever</td>
            <td>Unknown</td>
            <td>Blank</td>
        </tr>

        <tr>
            <td>8</td>
            <td>Aryz</td>
            <td>Unknown</td>
            <td>Blank</td>
        </tr>

        <tr class="info">
            <td>9</td>
            <td>JR</td>
            <td>Blank</td>
            <td>Blank</td>
        </tr>
    </tbody>
</table>
</div>