</br>
<div class="panel panel-default">
	<div class="action center">
		</br>

		<div class="action center">
		<h1>Felice Varini and Projections</h1>
		<h4>March 19, 2014</h4>
		<h4>by Hunter Plasterwall and Team</h4></div>

		 <iframe width="700" height="400" src="http://www.youtube.com/embed/2_P-8rArDnE" style="max-width:100%"      frameborder="0"></iframe>

		<div class="action pull-left">

		<i><p><b>Is the issue of view point important to your work? Are you trying to encourage the viewers to stop and contemplate on how they see things around them?</b></br></br>
		Felice Varini: No. When I begin to paint I never think about the viewer. The viewer does not affect the way I start the work. The viewer will become part of the work once it is done and he can watch the painting. Even then I can not tell you what he will see, because I do not know where he is standing and what is the view point from which he is watching the painting.</br></br>
		I start my works from one vantage point, which is simply the height of my own eye level. This is only a starting point, a way to begin. I plan the work using sketches, pictures, camera, or just in my head. And I work with the space, considering the relationship of my view point with the space as well as the geometry of the space itself. Then I make the painting. </br></br>
		Once the painting is done it starts an independent life, having a relationship with the space, which has nothing to do with me or the viewer. It is a direct relation that the painting has with the space, in a kind of an abstract reality. </br></br>
		The viewer can then be present in the work, but as far as I am concerned he may go through it without noticing the painting at all. If he is aware of the work, he might observe it from the vantage point and see the complete shape. But he might look from other points of views where he will not be able to understand the painting because the shapes will be fragmented and the work too abstract. Whichever way, that is ok with me. </br></br>

		Taken from the interview by Gil Dekel to Felice Varini
		</p></i>

 		</div>

 		 <img src="http://www.frameweb.com/media/files/151302"  style="max-width:100%" alt="Varini" height="1160" width="1000"/>

 		</br></br>

 		<img src="http://s2.dmcdn.net/CBnyQ/526x297-g5x.jpg"  style="max-width:100%" alt="Varini" height="1160" width="1000"/>

 		</br>
 		<div class="action">

	 		<p>Throughout different articles that I read while browsing around today, I read the statement, "Varini is the anti-Mona Lisa, there is only one point of view." I agree, unless the perspective is in the eye of viewer then that would be completely false.  
	 		</br></br>
	 		Varini is somewhat of an old timer being born in 1952, but then again Shepherd Fairey and Banksy are not 22 years of age either.  Even though Varini isn't drawing people or painting cartoon characters in alleys, I think he has a classical style of art or street art if we take the history of the world in internet years. :) However, I deem it fit, he is pretty cool.  I probably should not trash this guy, but a guy like Varini using projectors is like college students using xbox ones to create what they want.
			</br></br>
			Anti-Mona Lisa.  That's neat.</p></br></br>
		</div>

		<img src="http://upload.wikimedia.org/wikipedia/commons/6/66/Louvre_Museum_Wikimedia_Commons.jpg"  style="max-width:100%" alt="The Louvre" height="1160" width="1000"/>

	
		
	</div>
</div>

		</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>



