// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#pins {
	margin: 0 auto;
}

.box {
	margin: 15px;
	width: 315px;
}

.box img {
	width: 100%
}

.top {
	margin: 15px;
	width: 945px;
}

.top img {
	width: 100%
}

.midtwo {
	margin: 15px;
	width: 422px;
}

.midtwo img {
	width: 100%
}