// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#pins {
	margin: 0 auto;
}


.box {
	margin: 15px;
	width: 315px; 
}

.box img {
	width: 100%
}






.box2 {
	margin: 15px;
	width: 315px;
}

.box2 img {
	width: 100%
}